.ButtonLink {
  background: none;
  padding: 0.8rem 1.8rem;
  margin: 0.7rem 0.9rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  /* background-color: white; */
}

.ButtonLink:hover {
  background-color: rgba(230, 230, 230, 0.1);
  opacity: 0.8;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .ButtonLink {
    font-size: 1.6rem;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
