.CardBox {
  width: 90vw;
  height: 90vw;
  max-height: 450px;
  max-width: 450px;
  border-radius: 2rem;
  background-color: white;
  margin: 1rem;
  position: relative;
  cursor: pointer;
  z-index: 1;
  box-shadow: -8px 6px 16px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 6px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 16px -5px rgba(0, 0, 0, 0.75);
}

.InnerCardBox {
  height: 90%;
}

.CarBoxExpandButton {
  bottom: 0;
  right: 2rem;
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
  height: 1.5rem;
  line-height: 1.5rem;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* width: 90%; */
  font-family: "Rajdhani", sans-serif;
}

.CarBoxExpandButton__arrow {
  color: var(--color-main);
  height: 1rem;
}

.HideCarBoxExpandButton {
  display: none;
}

.CarBoxExpandButtonHoverEffect {
  animation: moveArrow 1s infinite;
}

@keyframes moveArrow {
  0% {
    transform: translateX(0%);
  }
  12.5% {
    transform: translateX(25%);
  }
  25% {
    transform: translateX(50%);
  }
  37.5% {
    transform: translateX(75%);
  }
  50% {
    transform: translateX(100%);
  }
  62.5% {
    transform: translateX(75%);
  }
  75% {
    transform: translateX(50%);
  }
  87.5% {
    transform: translateX(25%);
  }
  100% {
    transform: translateX(0%);
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-exit {
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
