.ContactForm {
  position: relative;
  /* min-height: 80vh; */
  background-color: var(--color-main);

  width: 100vw;

  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 4rem;

  border-radius: 2rem;
  box-shadow: -8px 6px 16px 5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -8px 6px 16px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -8px 6px 16px -5px rgba(0, 0, 0, 0.75);
}

.ContactForm__InnerContainer {
  width: 80%;
  position: relative;
}

.ContactForm__InnerContainer__closeButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  color: var(--color-main);

  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--main-bg-color);
}

.ContactForm__InnerContainer__closeButton:hover {
  background-color: var(--color-main);
  color: var(--main-bg-color);
}

.ContactForm__Form {
  display: flex;
  flex-direction: column;
}

.ContactForm__Form > * {
  padding: 0.5rem;
  margin: 0.5rem;
}

.ContactForm__Form__button {
  padding: 0.8rem 1.8rem;
  margin: 1rem 0.9rem;
  border-radius: 0.4rem;
  width: 95%;
  cursor: pointer;
  color: var(--color-main);
  font-family: "Rajdhani", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--main-bg-color);
  align-self: center;
  text-transform: uppercase;
}

.ContactForm__Form__button:hover {
  background-color: var(--color-main);
  color: var(--main-bg-color);
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .ContactForm {
    width: 60vw;
  }
  .ContactForm__Form__button {
    width: 50%;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .ContactForm__Form__button {
    width: 25%;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
