.InnerBox {
  opacity: 0;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
  position: relative;
  height: 90%;
}

.InnerBoxContent {
  position: absolute;
  color: black;
  margin-top: 6%;
  margin-bottom: 6rem;
  /* padding-left: 1.5rem;
  padding-right: 1.5rem; */
  width: 100%;
  height: 100%;
  overflow: auto;
}

.transitionInner {
  opacity: 1;
}

::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background: rgb(119, 79, 56);
  border-radius: 5px;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .BottomBoxTitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .BottomBoxTitle {
    font-size: 2rem;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .BottomBoxTitle {
    font-size: 3rem;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
