.OuterBox {
  /* height: 50%; */
  opacity: 1;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.OuterBoxTop {
  width: 90vw;
  height: 45vw;
  max-height: 225px;
  max-width: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
}

.OuterBoxTopImage {
  width: 100%;
  height: 100%;
  /* height: 200%; */
  /* margin-bottom: -50%; */
  object-fit: cover;
  border-top-right-radius: 2rem;
  border-top-left-radius: 2rem;
  /* border-radius: 2rem; */
}

.OuterBoxTitle {
  font-family: "Rajdhani", sans-serif;
  color: var(--color-main);
  margin: 2rem 0 0 3rem;
  font-size: 2.8rem;
}

.OuterBoxSVGdiv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  width: 100%;
}

.SVG {
  max-width: 9rem;
  max-height: 7rem;
  display: flex;
  margin: 0.5rem;
}

.SVG > * {
  width: 100%;
  height: 100%;
}

.BottomBox {
  color: var(--color-main);
  height: 45vw;
  max-height: 225px;
  display: flex;
  justify-content: flex-end;
  border-bottom-right-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.BottomBoxTitle {
  font-family: "Rajdhani", sans-serif;
  text-align: center;
  margin-left: 1rem;
  margin-right: 2rem;
  font-size: 1rem;
  width: 50%;
  text-align: right;
}

.BoxColoredBackground {
  background-color: var(--color-main);
  color: white;
}

.title {
  color: var(--color-main);
  padding: 2rem;
  margin: 1rem;
}

@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .BottomBoxTitle {
    font-size: 1.5rem;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .BottomBoxTitle {
    font-size: 2rem;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .BottomBoxTitle {
    font-size: 3rem;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
}
