.projectSVGIcons {
  max-width: 1rem;
}

.InnerBox__TextContent__link {
  font-size: 1rem;
  height: 2rem;
  background-color: var(--main-bg-color);
  border-radius: 0.5rem;
  padding: 0.8rem;
  text-decoration: none;
  color: var(--main-color);
  text-transform: uppercase;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}
.InnerBox__TextContent__link svg {
  margin-bottom: -0.1rem;
  margin-right: 0.5rem;
}
